<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Name</th>
      <th>StateID (C)</th>
      <th>TypeID (F)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.name }}</td>
      <td>{{ forecast.stateID }}</td>
      <td>{{ forecast.typeID }}</td>
    </tr>
  </tbody>
</table>
