<div class="movies-container container-fluid bg-lightgray py-5 ps-5 pe-2">
    <div class="row">
        <div class="col-12 col-md-3">
            <h4 class="p-1 mb-3"><b>Filters</b></h4>
            <ul class="row list-unstyled ps-2">
                <app-date-filter></app-date-filter>
                <app-language-filter></app-language-filter>
                <app-status-filter></app-status-filter>
            </ul>
        </div>
        <div class="col-12 col-md-9">
            <h4><b>Movies in {{selectedLocation}}</b></h4>
            <ul class="small list-unstyled list-inline text-dark row col-12">
                <li *ngFor="let movie of moviesList" class="list-inline-item text-left col-6 col-md-3 m-0 px-2 mb-3">
                    <app-movie-card [movie]="movie"></app-movie-card>
                </li>
            </ul>
        </div>
    </div>
</div>