<div class="row">
    <div class="bg-theatres">
        <div class="col-12 m-5 mb-3">
            <a [routerLink]="['.']">
                <img *ngIf="!customerProfile" src="assets/profile.png" height="100" width="100" class="rounded-circle p-1 border border-danger">
                <img *ngIf="customerProfile" [src]="customerProfile.displayPicture" height="100" width="100" class="rounded-circle p-1 border border-danger">
            </a>
        </div>
        <div class="col-12 text-white mx-5 d-flex justify-content-left">
            <a [routerLink]="['bookings']" [routerLinkActive]="['border-bottom', 'border-danger', 'border-4']" class="mx-2 text-decoration-none bg-transparent text-white border-0 p-1 px-2">Booking History</a>
            <a [routerLink]="['profile']" [routerLinkActive]="['border-bottom', 'border-danger', 'border-4']" [routerLinkActiveOptions]="{exact: true}" class="mx-2 text-decoration-none bg-transparent text-white p-1 px-2">Profile Settings</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
