<div class="bg-dark p-5">
    <div class="d-flex justify-content-center text-secondary fs-3">
        --------------------------------------------
        <h4>Book<span class="text-danger fst-italic">My</span>Show</h4>
        --------------------------------------------
    </div>
    <div class="d-flex justify-content-center text-secondary fs-3">
        <i class="p-3 fab fa-facebook"></i>
        <i class="p-3 fab fa-twitter"></i>
        <i class="p-3 fab fa-instagram"></i>
        <i class="p-3 fab fa-youtube"></i>
        <i class="p-3 fab fa-pinterest"></i>
        <i class="p-3 fab fa-linkedin"></i>
    </div>
    <div class="d-flex justify-content-center text-secondary fs-6">
        <ul class="list-unstyled small">
            <li>Copyright &copy; BookMyShow Pvt. Ltd. All Rights Reserved</li>
        </ul>
    </div>
</div>