<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-darkblue mb-0 pt-0 pb-0">
    <div class="container-fluid ml-2 mr-3">
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
           [ngClass]="{ show: isExpanded }">
        <div class="left">
          <ul class="navbar-nav flex-grow">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-secondary" [routerLink]="['/movies']">
                <span class="fs-7">Movies</span>
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link text-secondary" [routerLink]="['/fetch-data']">
                <span class="fs-7">FetchData</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="right">
          <ul class="navbar-nav flex-grow">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-light" [routerLink]="['/']">
                
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
</header>
