<div class="border-top bg-light">
    <div class="d-flex justify-content-between p-2 p-lg-3">
        <div class="list-lg-inline d-flex align-items-center text-secondary small">
            <img class="list-inline-item rounded" src="https://m.media-amazon.com/images/I/71xZtfOsHdL._AC_SY679_.jpg" width="125"> 
            <div class="list-inline-item py-3 px-2 px-lg-3">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">U/A</li>
                    <li class="list-inline-item">.</li>
                    <li class="list-inline-item">2D</li>
                    <li class="list-inline-item">.</li>
                    <li class="list-inline-item">ENGLISH</li>
                </ul>
                <h4 class="text-dark"><b>Avengers {{currentId}}</b></h4>
                <span>INOX: Maddilipalem, Visakhapatnam</span>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">Fri 25 Oct</li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"> 6:15PM</li>
                </ul>
            </div>
            <div class="list-inline-item py-3 ps-3 ps-lg-5 ms-lg-5 border-start">
                <span class="small">SCREEN</span>
                <h3 class="text-dark"><b>Screen-{{"A"}}</b></h3>
                <span class="small">SEATS</span>
                <h4 class="text-dark"><b>A1, A2</b></h4>
            </div>
        </div>
        <div class="p-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" height="150">
        </div>
    </div>
</div>