<div class="theatres-list bg-light border-bottom">
    <div class="date-select">
      <ul class="bg-white dates-list list-unstyled d-flex justify-content-left align-items-center">
        <li *ngFor="let date of dates" class="p-3 rounded border-end" [style.flex-shrink]="0">
          <button class="px-3 py-1 btn-date fw-bold" value="{{date}}" [ngClass]="{'bg-selected': selectedDate==date, 'bg-unselected': selectedDate!=date}" (click)="selectDate($event.target)">
            {{date | date: 'd'}}<br />
            {{date | date: 'EEE'}}
          </button>
        </li>
        <ul class="position-absolute end-0 list-unstyled me-3 p-2 border-start">
          <li *ngIf="movie" class="fs-5 text-secondary">{{movie.name | uppercase}}</li>
          <li class="small fw-bold">{{selectedDate | date: 'fullDate'}}</li>
        </ul>
      </ul>
        
    </div>
    <div class="seat-selection position-absolute top-0 left-0 w-100 bg-transparent">
        <router-outlet></router-outlet>
    </div>
    <div class="bg-white rounded my-5 m-5">
        <ul class="px-5 py-3 list-unstyled theatre-list">
            <li *ngFor="let theatre of theatres" class="theatre-list-item text-left p-3 border-bottom">
                <h5>{{theatre.name}}</h5>
                <ul class="list-unstyled list-inline mt-3" *ngIf="seatsInScreen">
                  <li  *ngFor="let showTime of theatre.showTimes.toString().split('|'); let index = index;" class="list-inline-item small mx-1">
                    <a *ngIf="theatre.screenIDs.toString().split('|'); let screenIDs" [routerLink]="[theatre.id, 'screen', screenIDs[index]]" class="text-decoration-none border px-1 rounded-pill" [ngClass]="{'border-danger text-danger': checkShowTimeAvailability(showTime) && seatsInScreen[screenIDs[index]] < 0.5, 'border-warning text-warning': checkShowTimeAvailability(showTime) && seatsInScreen[screenIDs[index]] < 0.75, 'border-success text-success': checkShowTimeAvailability(showTime) && seatsInScreen[screenIDs[index]] > 0.8, 'border-secondary text-secondary disabled': !checkShowTimeAvailability(showTime)}">{{showTime}}</a>
                  </li>
                </ul>
            </li>
            <li *ngIf="theatres.length == 0">
              <div class="small text-secondary">
                No Shows left for today
              </div>
            </li>
        </ul>
    </div>
</div> 
