<div class="auth-form p-5 d-flex justify-content-center bg-light">
    <div class="col-12 col-lg-6 bg-white p-5">
        <h4 class="mx-2 my-4"><b>Your Profile</b></h4>
        <form>
            <div class="mb-3 text-secondary row mt-4">
                <div class="col">
                    <label for="firstName" class="small mx-2">First Name</label>
                    <input type="text" class="ms-1 col-11 p-1 bg-transparent" id="firstName" aria-describedby="firstNameHelp">
                    <!-- <div id="firstNameHelp" class="small m-2 text-danger">required</div> -->
                </div>
                <div class="col">
                    <label for="firstName" class="small mx-2">Last Name</label>
                    <input type="text" class="ms-1 col-11 p-1 bg-transparent" id="firstName" aria-describedby="firstNameHelp">
                    <!-- <div id="firstNameHelp" class="small m-2 text-danger">required</div> -->
                </div>
            </div>
            <div class="mb-3 text-secondary row mt-4">
                <label for="exampleInputEmail1" class="small mx-2">Email</label>
                <input type="email" class="ms-3 col-11 p-1 bg-transparent" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="small m-2">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3 text-secondary row mt-4">
            <label for="exampleInputPassword1" class="small mx-2">Password</label>
            <input type="password" class="ms-3 col-11 p-1 bg-transparent" id="exampleInputPassword1">
            </div>
            <div class="mb-3 text-secondary row mt-4">
                <label for="displayPicture" class="small mx-2">Display Picture</label>
                <input type="url" class="ms-3 col-11 p-1 bg-transparent" id="displayPicture">
            </div>
            <div class="mb-3 text-secondary row mt-4">
                <label for="status" class="small mx-2">Status</label>
                <input type="text" class="ms-3 col-11 p-1 bg-transparent text-secondary" id="status" value="Guest" disabled>
            </div>
            <div class="mb-3 text-secondary row mt-4">
                <label for="creationDate" class="small mx-2">Creation Date</label>
                <input type="text" class="ms-3 col-11 p-1 bg-transparent text-secondary" id="creationDate" value="2021-07-27" disabled>
            </div>
            <div class="submit-div text-center mt-5 row">
                <button type="submit" class="btn btn-success col mx-3">Update</button>
            </div>
        </form>
    </div>
</div>
<form>